

#logo{ 
    width:20%;
}
#mainHeader{
    margin-top: -50px;
}

nav.navbar a span{
    margin: auto 0;
    font-size: 1.5em;
}

#mainHeader form{
    width: 50%;
    align-items: center;
    background-color:var(--primary-color);
    border-radius: 7px;
    margin: auto;
    margin-top: 70px;
    padding: 5rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

#mainHeader form label{
    display: block;
    color: #fff;
    text-align: center;
    font-weight: 700;
}

.loginpageField{
    display: block;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    outline: none;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    width: 70%;
}

.loginpageField:hover , .loginpageField:focus{
    outline: none;
}

.loginpageField::placeholder{
    margin-bottom: 7px;
}

#loginpageSubmit{
    display: block;
    margin-top: 10px;
    width: 30%;
    margin: auto;
    background-color: transparent;
    color: #fff;
    border: 2px solid var(--accent-color);
}

#mainHeader p.info{
    margin-top: 25px;
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
}